body{ 
    max-width: 285px;
    margin: auto;
    margin-top: 144px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.bordas {
    padding-top: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    display: inline-block;
    border-radius: 20px;
}

.title{
    color: hsl(218, 44%, 22%); 
    padding-right: 20px; 
    padding-left: 20px;  
    margin-top: 15px;
    font-size: 20px;
}

.paragrafo{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding-right: 20px; 
    padding-left: 20px; 
    padding-bottom: 30px;
}

.attribution{
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
}

img{
    display: inline-block;
    border-radius: 10px;
    width: 270px;
}
